<!DOCTYPE html>
<html>
	<head>
		<title>Comprar</title>
		<link rel="stylesheet" href="/static/css/buy.css"/>
	</head>
	<body>
		<div class="root">
			<div class="container" id="container">
				<div class="panel-container">
					<div><a href="/sale">Vender</a></div>
					<div><a href="/buy">Comprar</a></div>
					<div><a href="/shoppingcar">Carrito</a></div>
					<div class="logout-container"><button id="btn-logout" type="button">Cerrar Sesi&oacute;n</button></div>
				</div>
				<div class="content-container" id="content-container">
						
				</div>
			</div>
		</div>
		<script src="/static/js/buy.js"></script>
	</body>
</html>
