<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" href="../static/css/index.css"/>
	</head>
	<body>
		<div class="root">
			<div class="container">
				<div>
					<img src="https://cdn3.iconfinder.com/data/icons/strokeline/128/revisi_01-256.png"/>
				</div>
				<div class="container-login">
					<form id="form-login">
						<input placeholder="correo" id="email"/>
						<input type="password" placeholder="contrase&ntilde;a" id="password" required/>
						<input value="Iniciar Sesi&oacute;n" type="submit" required/>
					</form>
					<div>
						A&uacute;n no tienes una cuenta?<a href="/signup">Registrate aqu&iacute;</a>
					</div>
				</div>
			</div>
		</div>
		<script src="../static/js/index.js"></script>
	</body>
</html>
