<!DOCTYPE html>
<html>
	<head>
		<title>Carrito de Compras</title>
		<link rel="stylesheet" href="/static/css/shoppingcar.css"/>
	</head>
	<body>
		<div class="root">
			<div class="container" id="container">
				<div class="panel-container">
					<div><a href="/sale">Vender</a></div>
					<div><a href="/buy">Comprar</a></div>
					<div><a href="/shoppingcart">Carrito</a></div>
					<div class="logout-container"><button id="btn-logout" type="button">Cerrar Sesi&oacute;n</button></div>
				</div>
				<div class="content-container" id="content-container">
					<table class="table-show-products">
						<thead>
							<td>Descripcion</td>
							<td>Stock</td>
							<td>Precio</td>
							<td>Imagen</td>
							<td>Eliminar</td>
						</thead>
						<tbody id="products-body">
						</tbody>
					</table>						
				</div>
			</div>
			<div id="popup-delete-car" class="ocult">
				<form id="form-delete-car" id="form-delete-car">
					<label>¿Est&aacute; seguro que desea Eliminar?</label>
 					<input type="text" style="display:none;" id="product_id" />
					<div style="text-align:center">
						<input type="submit" value="Eliminar"/>
						<input type="button" id="cancel-operation" value="Cancelar"/>
					</div>
				</form>
			</div>
		</div>
		<script src="/static/js/shoppingcar.js"></script>
	</body>
</html>
