<!DOCTYPE html>
<html>
	<head>
		<title>Registrarse</title>
		<link rel="stylesheet" href="../static/css/signup.css"
	</head>
	<body>
		<div class="root">
			<div class="container">
				<form id="form-signup">
					<label>Nombres</label>
					<input id="name" type="text" required/>
					<label>Apellidos</label>
					<input id="lastname" type="text" required/>
					<label>Correo</label>
					<input id="email" type="text" required/>
					<label>Contrase&ntilde;a</label>
					<input id="password" type="password" required/>
					<label>N&uacute;mero de Celular</label>
					<input id="phonenumber" type="number" required/>
					<input value="Registrarme" type="submit" class="button-register"/>
					<div class="back-ref">
						<a href="/">Regresar al Inicio</a>
					</div>
				</form>
			</div>
		</div>

		<script src="../static/js/signup.js"></script>
	</body>
</html>
